.app-container {
    display: flex;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 150px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.main-content {
    padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: -40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    padding: 2px 5px;
    font-size: 12px;
    cursor: pointer;
}

.profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.search-input-bar {
    width: 230px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}